<link rel="stylesheet" href="/css/cate.css" />
<div id="navbar"><%- include("./partials/navbar") %></div>
<script>
  let name = document.getElementById("nav-name");
  let cart = document.getElementById("cart");
  let cartTotal = document.getElementById("crTotal");

  `<%if(user.user){ %>`;

  name.innerText = `<%= user.user.email%>`;
  let userId = `<%=user.user._id%>`;
  cart.firstElementChild.href = `https://d-mart-clone.herokuapp.com/${userId}/cart`;
  cartTotal.innerText = `<%= user.user.cart.length%>`;
  `<%}%>`;
</script>

<%- include("./partials/header") %>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <ul id="searchList"></ul>
  </div>
</div>
<div id="topbar"></div>

<div id="continer">
  <div id="doulath">
    <!-- <div id="cat">
      <h3><i class="fas fa-bars" id="d"> All Categories</i></h3>
    </div> -->
    <table>
      <thead>
        <tr>
          <th>
            <h3>
              <a href="/categories/fruits&veg" style="text-decoration: none">
                Fruits & Vegetables
              </a>
            </h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="fruits">
          <td>
            <a href="/categories/fruits&veg?subCat=fresh%20fruits">
              Fresh Fruits
            </a>
          </td>
        </tr>
        <tr id="vegetables">
          <td>
            <a href="/categories/fruits&veg?subCat=vegetables">Vegetables </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="basha">
    <div id="nav"></div>
    <h1 id="h1">Fruits & Vegetables</h1>
    <div id="con">
      <% lists.forEach(element => { %>
      <div id="mainDiv">
        <div id="imgdiv">
          <img src="<%=element.imgUrl%>" /><img
            id="veg"
            src="https://content.dmart.in/site/static/media/veg.1a9a7a12.svg"
          />
        </div>
        <h4><%= element.name %></h4>
        <div style="display: flex">
          <div id="Tax">
            <div class="smallDiv" style="display: flex">
              <div style="margin-right: 25%">
                <p>MRP</p>
                <p class="price2"><%= element.strikedOffPrice %></p>
              </div>
              <div>
                <p>DMart</p>
                <p class="price"><%= element.price %></p>
              </div>
            </div>
            <p style="font-style: italic; margin-top: -15px">
              (Inclusive of all taxes)
            </p>
          </div>
          <div id="price3">
            <p style="margin-top: 5px">Save</p>
            <p style="font-size: 20px; margin-top: -15px">₹ 16</p>
          </div>
        </div>
        <form
          action="/users/<%=user.user._id%>/<%=element._id%>/cart"
          method="POST"
        >
          <button id="but">🛒 ADD TO CART</button>
        </form>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<%-include("./partials/footer") %>
<script src="/js/search.js"></script>
<script src="/js/navbar.js"></script>
<!-- <script src="/js/fruits.js"></script> -->
<script>
  let tb = document.getElementById("topbar");
  tb.innerHTML = topbar();
  function topbar() {
    return `
         <a href="/categories" id=""><i class="fas fa-bars"></i>All categories</a>
      <div><a href="/categories/grocery">Groceery</a></div>
      <div><a href="/categories/fruits&veg">Fruits & Vegetables</a></div>
      <div><a href="">Cookware & Serveware</a></div>
      <div><a href="">Kitchen Appliances</a></div>
    `;
  }
</script>
